---
BasedOnStyle: Google
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never

# Allman: braces on their own line
BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlignOperands: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true

SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true

ColumnLimit: 100

SortIncludes: true
IncludeBlocks: Preserve

SpaceAfterTemplateKeyword: true
SpacesInAngles: false
